<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Calgary Tech Events Calendar</h1>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
            <full-calendar [options]="calendarOptions" #calendar></full-calendar>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>If you want to </span>
          <a class="alert-link" (click)="login()">sign in</a
          ><span
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span>You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Register a new account</a>
        </div>
      }
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="groupNameModal" tabindex="-1" aria-labelledby="groupNameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupNameModalLabel">{{ eventTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Description Summary:</strong> {{ eventDescription }}</p>
        <p><strong>Date:</strong> {{ eventDate }}</p>
        <p><strong>Location:</strong> {{ eventLocation }}</p>
        <p><strong>Group Name:</strong> {{ eventGroup }}</p>
      </div>
    </div>
  </div>
</div>
