<div class="row">
  <div class="col-md-12">
    <h1 class="display-4"><span>Welcome, to</span>Organizers App</h1>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
            <full-calendar [options]="calendarOptions" #calendar></full-calendar>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>If you want to </span>
          <a class="alert-link" (click)="login()">sign in</a
          ><span
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span>You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Register a new account</a>
        </div>
      }
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="groupNameModal" tabindex="-1" aria-labelledby="groupNameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupNameModalLabel">Enter Group Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitGroupName()">
          <div class="mb-3">
            <label for="groupNameInput" class="form-label">Group Name</label>
            <input type="text" class="form-control" id="groupNameInput" [(ngModel)]="groupName" name="groupName" required />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
