<div class="row">
  <div class="col-md-12">
    <!-- <h1 class="display-4 custom-heading">Calgary Tech Events Calendar</h1> -->

    <div>
      <div class="desktop-only">
        <full-calendar [options]="calendarOptions" #calendar></full-calendar>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="mobile-only">
    <!-- <h5 class="text-black">All Events</h5> -->
    <div *ngFor="let group of groupedEvents" style="margin-bottom: 50px">
      <h3 class="text-black fw-bold">{{ group.month }}</h3>

      <div *ngFor="let event of group.events; let i = index" (click)="handleMobileEvent(event)">
        <ng-container *ngIf="i === 0 || !isSameDay(event.event_date, group.events[i - 1].event_date)">
          <div class="d-flex align-items-center my-3" style="color: black">
            <hr class="flex-grow-1 me-2" />
            <div class="text-nowrap fw-bold small">{{ event.event_date | date: 'EEEE' }}</div>
            <hr class="flex-grow-1 ms-2" />
          </div>
        </ng-container>
        <div class="d-flex align-items-center mb-3" (click)="handleMobileEvent(event)">
          <div class="me-3">
            <div
              class="date-box text-center text-white rounded"
              [ngStyle]="{
                'background-color':
                  event.eventSource === 'EVENTBRITE' ? '#64B5F6' : event.eventSource === 'MEET_UP' ? '#81C784' : '#F3C4B6',
              }"
            >
              <div>{{ event.event_date | date: 'MMM' }}</div>
              <div>{{ event.event_date | date: 'd' }}</div>
            </div>
          </div>
          <div class="flex-grow-1">
            <h6 class="mb-1 text-black">
              {{ event.event_description.length > 30 ? (event.event_description | slice: 0 : 30) + '...' : event.event_description }}
            </h6>
            <p class="mb-0 text-muted small">
              {{ event.event_date | date: 'shortTime' }} MST | Venue: {{ event.event_location || 'Online Event' }}
            </p>
          </div>
        </div>
        <!-- <div>
            <button *ngIf="!event.added" class="btn btn-outline-secondary btn-sm">
              <i class="fas fa-plus"></i>
            </button>
            <button *ngIf="event.added" class="btn btn-success btn-sm">
              <i class="fas fa-check"></i>
            </button>
          </div> -->

        <div></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="groupNameModal" aria-labelledby="groupNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="groupNameModalLabel">{{ eventGroup }} Group</h5>
          <button type="button" (click)="close()" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="fw-bold"><strong>Description Summary:</strong></p>
          <p>{{ eventDescription }}</p>
          <p class="fw-bold"><strong>Date:</strong></p>
          <p>{{ eventDate }} MST</p>
          <p class="fw-bold"><strong>Location:</strong></p>
          <p>{{ eventLocation }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
          <a [href]="eventUrl" target="_blank" class="btn btn-primary">View Event</a>
        </div>
      </div>
    </div>
  </div>
</div>
